*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
#main{
	background: rgba(12,11,25,1);
	display: flex;
  flex-wrap: wrap;
	flex-direction: row ;
	justify-content: space-around;
}
.sort{
	color : orange;
}
.sort ul {
	display: flex;
	align-items: flex-end;
	width: 250px;
	height : 250px;
	margin: 0px auto;
	background-color: red;
}
.sort ul li{
	width : 20px;
	color :black;
	margin: 5px ;
	background-color: lightgreen ;
}
#lol,#lol1,#lol2{
	height: 50px;
	width :100px;
	border-style: outset;
	border-color: orange;
	margin: 10px 150px;
}
