*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body{
	background: rgba(12,11,25,1);
	display: flex;
	justify-content: center;
	align-items: center;
}
.sort{
	color : orange;
}
.sort ul {
	display: flex;
	align-items: flex-end;
	width: 500px;
	height : 500px;
	margin: 0px auto;
	background-color: red;
}
.sort ul li{
	width : 20px;
	color :black;
	margin: 5px ;
	background-color: lightgreen ;
}
#height0{
	height: 185px;
}
#lol,#lol1{
	height: 50px;
	width :50px;
	border-style: outset;
	border-radius: 50%;
	border-color: orange;
	margin: 150px auto;
	transform: scale(2);
}
.sort{
	transform: scale(0.5);
}
